body {
  background: dodgerblue;
  color: white;
}

.jumbotron {
  max-width: 700px;
  margin: 0 auto;
}
/* making image 100% of its container */
#movies img, #movie img {
  width :100%;
}

.btn {
  background: seagreen;
}

@media (min-width: 960px) {
#movies .col-md-3 .well {
  max-height: 390px;
}

#movies .col-md-3 img {
  height: 290px;
}

#movie .well {
  padding: 15px;
  background: #282828;
  margin-left: 15px;
}
}
